
/*设置表格头靠左、字体大小，字体颜色*/
.table-view .column-header .label{
    -fx-alignment: center-left;
    -fx-font-family: "Arial";
    -fx-text-fill: rgba(68,68,68,0.96);
    -fx-font-size: 12;
}

/*设置表格头高度*/
.table-view > .column-header-background{
    -fx-pref-height: 40;
}

/*设置每一列内容居中，每一行高度*/
.table-row-cell{
    -fx-cell-size: 45px;
    -fx-alignment: center;
}

#studentTableView{
    -fx-table-cell-border-color:transparent;
    -fx-border-color: white;
    -fx-alignment: center-left;
}

/*设置每一列内容居中*/
#studentTableView .table-column{
  -fx-alignment: center-left;
}