#banner{
    -fx-background-color: #4aa3ff;
}

#closeButton{
    -fx-graphic: url("/image/close.png") ;
    -fx-background-color: transparent;
}
#closeButton:hover{
    -fx-background-color: #D84C29;
}

#closeButton:pressed{
    -fx-background-color: #D84C29;
}

#maxButton{
    -fx-graphic: url("/image/max.png") ;
    -fx-background-color: transparent;
}
#maxButton:hover{
    -fx-background-color: #D84C29;
}

#maxButton:pressed{
    -fx-background-color: #D84C29;
}


#minButton{
    -fx-graphic: url("/image/min.png") ;
    -fx-background-color: transparent;
}
#minButton:hover{
    -fx-background-color: #D84C29;
}

#minButton:pressed{
    -fx-background-color: #D84C29;
}


#menuButton{
    -fx-graphic: url("/image/menu.png") ;
    -fx-background-color: transparent;
}
#menuButton:hover{
    -fx-background-color: #D84C29;
}

#menuButton:pressed{
    -fx-background-color: #D84C29;
}
